html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    transition: 0.5s ease-in-out;
}

h1 {
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

h3 {
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

a:hover,
a:focus,
a:active {
    opacity: 0.75;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    display: block;
    padding: 10px 32px;
    width: 228px;
    height: 59px;
    cursor: pointer;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: #0D606F;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    transition: 0.5s ease-in-out;
}

button:hover,
button:focus,
button:active {
    background: #407881;
    color: #F2785C;
}

/*!!! header block !!!*/
header {
    display: flex;
    height: 40px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 25px;
}

.header_logo {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 5px;
}
.header_form {
    margin-left: -30px;
}
.header_nav {
    margin-left: -65px;
}

.header_button {
    width: 103px;
    height: 41px;
    font-size: 16px;
    line-height: 21px;
}

.header_link {
    display: flex;
    list-style-type: none;
}

.header_item {
    margin-right: 42px;
}

.header_item a {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

/*!!! preview block !!!*/
.preview {
    background: url(../assets/img/bg_head_main.jpg) no-repeat center;
    margin-top: -135px;
    padding-top: 90px;
    height: 765px;
}

.preview_content {
    height: 83.33%;
    padding-left: 120px;
    padding-top: 20px;
}

.preview_title {
    max-width: 900px;
}

.preview_desc {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 46px;
    margin-top: -20px;
}

.preview_form_input {
    display: flex;
    align-items: center;
}

.preview_input_button {
    margin-left: -248px;
}

.preview_input_text {
    width: 849px;
    height: 95px;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: 0px;
    padding-left: 41px;
}

.preview_input_text::placeholder {
    color: #F2785C;
}

/*!!! steps block !!!*/
.steps {
    margin-bottom: 80px;
}

.steps_box {
    display: flex;
    justify-content: space-around;
    padding-left: 49px;
    padding-right: 53px;
    padding-top: 6px;
}

.steps_item {
    text-align: center;
}

.steps_item_calc {
    margin-left: 70px;
}

.steps_caption {
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: 26px;
}

.steps_svg {
    padding: 24px;
    background-color: #F2785C;
    width: 52px;
    height: 52px;
    border-radius: 16px;
    transition: 0.5s ease-in-out;
}

.steps_svg:hover,
.steps_svg:focus,
.steps_svg:active {
    background: rgba(242, 120, 92, 0.5);
    cursor: pointer;

}

/*!!! destination block !!!*/
.destinations {
    margin-bottom: 82px;
}

.destinations_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.slider_img {
    border-radius: 16px;
}

.slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 60px;
    margin-top: 41px;
}

.slider_title {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 718px 0px 0px 15px;
}

.slide {
    width: 800px;
    min-width: 800px;
    height: 800px;
    border-radius: 16px;
}

.slide1 {
    background: url(../assets/img/slider1.jpg) no-repeat center;
}

.slide2 {
    background: url(../assets/img/slider2.jpg) no-repeat center;
}

.slide3 {
    background: url(../assets/img/slider3.jpg) no-repeat center;
}

.slider_item {
    width: 20px;
    height: 20px;
    margin: 20px 3px 35px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
}

.slider_item:hover,
.slider_item:focus,
.slider_item:active {
    opacity: 0.75;
    background: #F2785C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*!!! radiobutton style !!!*/



/*!!! stories block !!!*/

.stories_bground {
    background: url(../assets/img/bg_foot_main.jpg) no-repeat center;
    padding-bottom: 60px;
}

.stories_shadow {
    background: rgba(255, 255, 255, 0.6);

}

.stories_content:first-child {
    padding-top: 45px;
}

.stories_content {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.stories_content_2 {
    display: flex;
    flex-direction: column;

}

.stories_image {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    max-width: 760px;
    margin: 0px;
}

.stories_text a {
    font-weight: 700;
    color: #0D606F;
}

.stories_form {
    padding-top: 8px;
    padding-bottom: 42px;
}

.stories_button {
    text-align: center;
    margin: auto;
}

.btn_arrow_svg {
    margin-right: 10px;
}

/*!!! footer block !!!*/
footer {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.footer_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_mtspace {
    width: 300px;
}

.footer_copyright {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 300px;
    text-align: center;
    margin: 0px 150px;
}

.footer_link {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    list-style-type: none;
    width: 260px;
}

.footer_link a {
    padding-left: 20px;
}